h1
{
border:2px solid black;
width: 200px;
height: 150px;
padding: 20px;
margin: auto;
background-color: aqua;
border-radius: 10px;
box-shadow: 0px 0px 10px 0px tomato;
}
body{background-color: yellowgreen;}
 button{background-color: blueviolet;
color: tomato;
border-radius: 10px;

}
